.expansion-panel {
    margin-bottom: 10px;
}

h3 {
    display: none;
}

::ng-deep .mat-accordion {
    flex-direction: column !important;
}

::ng-deep .mat-step-header .mat-step-icon {
    background-color: #E4022D;
}

.scrollable-content {
    max-height: 300px;
    overflow: auto;
    margin-top: 5px;
}

.mat-expansion-panel {
    margin-bottom: 3%;
}

.mat-expansion-panel-header-title {
    max-width: 40px;
    width: -webkit-fill-available;
}

.mat-expansion-panel-header-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.inner-title {
    color: #707070;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.mat-card {
    display: grid;
}

@media(max-width: 768px) {
    .panel-description {
        display: none;
    }
    .expansion-panel {
        margin-bottom: 0;
    }
     ::ng-deep .mat-step-label {
        display: none !important;
    }
    h3 {
        display: block;
        text-align: center;
        color: #979797;
    }
}