<div *ngIf="callRegisterComponent === false" class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="">
        <img mat-card-md-image src="../../assets/images/mackIcon/M_vermelho.png" class="img-fluid mx-auto d-block" alt="Logo isolado do Mackenzie">
        <mat-card-header>
            <mat-card-title class="appNameTitle">Aplicação CIF</mat-card-title>
        </mat-card-header>
        <mat-card-header class="entrarHeader">
            <mat-card-title class="entrarTitle">Entrar</mat-card-title>
        </mat-card-header>

        <form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="login-full-width">
                    <input matInput placeholder="Email ou CPF" id="login" #login="ngModel" name="login" [(ngModel)]="person.login" required>
                </mat-form-field>

                <mat-form-field class="login-full-width">
                    <input minlength="6" maxlength="8" matInput placeholder="Senha" type="password" id="password" #password="ngModel" name="password" [(ngModel)]="person.password" required>
                </mat-form-field>
            </mat-card-content>

            <button *ngIf="!loading" [disabled]="!loginForm.form.valid" mat-stroked-button type="submit" color="primary" class="btn-block">Entrar</button>
            <mat-progress-spinner *ngIf="loading" class="example-margin" mode="indeterminate" color="warn"></mat-progress-spinner>
            <button *ngIf="!loading" mat-stroked-button color="warn" (click)="toRegister()" class="btn-block register">Registrar-se</button>
            <a routerLink="/forgotPassword" class="float-right mt-2">Esqueci minha senha</a>
        </form>
    </mat-card>
</div>