.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    border: transparent;
    box-shadow: 1px 0 5px -1px #888;
}

.hidden-sidenav {
    display: none;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.spacer {
    flex: 1 1 auto;
}

.greeting-span {
    font-size: 15px;
    padding-right: 30px;
}

.person-icon {
    vertical-align: middle;
}

.person-icon:hover {
    cursor: pointer;
}

.menu-greeting {
    position: relative;
    right: 3%;
    margin-left: 2%;
}

.list-menu-side {
    display: grid !important;
}

mat-button.btn-side-menu {
    height: 60px;
    font: 500 14px/32px Roboto, "Helvetica Neue", sans-serif;
}

mat-button span {
    position: relative;
    top: 15px;
}

mat-button.btn-side-menu:hover {
    cursor: pointer;
    background-color: rgb(255, 247, 247);
    ;
}

mat-icon.icon-side-menu {
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 9px;
    position: relative;
    top: 15px;
}

.mack-white-icon {
    padding-left: 10px;
}

.mack-white-icon:hover {
    cursor: pointer;
}

.app-name-header:hover {
    cursor: pointer;
}

.header-toolbar {
    z-index: 998;
    position: sticky;
}

@media(max-width: 768px) {
    .greeting-span {
        display: none;
    }
}

/* Breadcrumb */
/* Style the list */
ul.breadcrumb {
    padding: 2px;
    list-style: none;
    background-color: #eee;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: roboto;
    font-size: xx-small;
}
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: small;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }